.ham-bar {
  position: relative;
  width: 18px;
}

.ham-bar::before,
.ham-bar::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s;
}

.ham-bar::before {
  transform: rotate(0) translateY(-3px);
}

.ham-bar::after {
  transform: rotate(0) translateY(3px);
}

.ham-active::before {
  transform: rotate(45deg) translateY(0px);
}

.ham-active::after {
  transform: rotate(-45deg) translateY(0px);
}
