.hightlight {
  position: relative;
  display: inline-block;
}

.hightlight::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ff602e;
  bottom: 0px;
  left: 0;
}

