.quillWrapper {
}

.quillWrapper p {
  font-size: 1.7rem !important;
}

.quillWrapper > div {
  border: none !important;
}

.quillWrapper > div:first-child {
  padding: 15px !important ;
}

.quillWrapper > div:last-child > div::before {
  font-style: normal !important;
  font-size: 2rem;
  color: rgba(255 255 255 / 0.7);
}
